@mixin xs {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin sm {
    @media screen and (min-width: 768px) and (max-width: 1280px) {
        @content;
    }
}
@mixin lg {
    @media screen and (min-width: 1280px) {
        @content;
    }
}
.clear:after {
    display: block;
    content: "";
    clear: both;
}
.center {
    text-align: center;
}
.about_us {
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 25px;
    }
    p {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 25px;
        color: black;
        //position: absolute;
        //left: 0;
        //top: 88%;
    }
}
