@mixin xs {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin sm {
    @media screen and (min-width: 768px) and (max-width: 1280px) {
        @content;
    }
}
@mixin lg {
    @media screen and (min-width: 1280px) {
        @content;
    }
}
.clear:after {
    display: block;
    content: "";
    clear: both;
}
body {
    background-color: rgb(255, 213, 96);
}
header {
    padding: 10px 0;
    background-color: rgb(255, 213, 0);
    a {
        color: black;
    }
    li {
        z-index: 3;
    }
    .glyphicon{
        z-index: 3;
    }
    @include lg {
        .hamburger-menu {
            display: none;
        }
    }
    @include sm {
        .nav {
            display: none;
        }
    }
    @include xs {
        .nav {
            display: none;
        }
    }
    @extend .clear;
}
footer {
    background-color: rgb(255, 213, 0);
    padding: 10px;
    @extend .clear;
}
#footer-left {
    float: left;
}
#footer-right {
    float: right;
}
.bg_salmon {
    background-color: rgb(238, 125, 81);
}
.bg_green {
    background-color: rgb(10, 213, 105);
}
.bg_cyan {
    background-color: rgb(56, 199, 218);
}
