@mixin xs {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin sm {
    @media screen and (min-width: 768px) and (max-width: 1280px) {
        @content;
    }
}
@mixin lg {
    @media screen and (min-width: 1280px) {
        @content;
    }
}
.PetInformationBlock {
    margin: 10px;
}
.petImage {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    display: block;
    padding-top: 100%;
}
.PetInformation {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
    content: '';
    display: block;
    padding-left: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    @include xs {
        margin-top: 5px;
        font-size: 1.2em;
    }
    @include sm {
        font-size: 1.3em;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    @include lg {
        font-size: 2em;
    }
}
.PetIntroductionBlock {
    margin: 10px;
}
.PetIntroduction {
    padding-left: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    @include xs {
        font-size: 1.2em;
    }
    @include sm {
        font-size: 1.5em;
    }
    @include lg {
        font-size: 2em;
    }
}
.YouTubePlayer{
    @include xs {
        display: none;
    }
}
#_youtubeURL{
    display: none;
    @include xs {
        display: inline;
    }
}
